.form {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 50px auto;
  padding: 2rem;
  border-radius: 50px;
  box-shadow: var(--box-shadow-3D-big);
  gap: 2rem;
}

/* Lado izquierdo (inputs) */
.asideLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Lado derecho (imagen) */
.asideRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-3D-textura);
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden; 
}

/* Cuando hay imagen, cambia el box-shadow */
.asideRight.imageLoaded {
  box-shadow: var(--box-shadow-3D-big);
}

.uploadLabel {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form span {
  font-size: 7rem;
  color: var(--color-dark);
  cursor: pointer;
}

.previewImage {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}

/* Estilos de campos */
.form div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.form textarea {
  field-sizing: content;
  min-height: 45px;
  resize: vertical;
  border-radius: 50px;
    box-shadow: var(--box-shadow-3D-textura);

  padding: 0.5rem;
  background-color: var(--color-background-variant);
  font-size: 0.8rem;
}

.form textarea:focus {
    box-shadow: var(--box-shadow-3D-small);

  transition: all 0.3s ease-in-out;
}

.form input {
  height: 45px;
  border-radius: 50px;
  padding: 0.5rem;
    box-shadow: var(--box-shadow-3D-textura);

  background-color: var(--color-background-variant);
  font-size: 0.8rem;
}

.form input:focus {
    box-shadow: var(--box-shadow-3D-small);

  transition: all 0.3s ease-in-out;
}
